body,html{
  margin: 0;
  height: 100%;
  font-family: Microsoft JhengHei;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select:none;
  user-select:none;
  -o-user-select:none;
  cursor: default;
}
iframe{
  width: 100%;
  height: 100%;
  border: 0;
}
.debugwindow{
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0%;
  width: 100%;
  padding: 5px;
}
.debugwindow h3{
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  font-weight: bold;
  margin: 0
}

button,.button,.selected_cat{
  background-color: rgb(227, 158, 73) ;
  background: linear-gradient(rgb(245, 216, 76), rgb(199, 133, 39));
  border: 2px solid black ;
  border-radius: 10px ;
  cursor: pointer;
  color: white ;
  font-weight: bolder;
  font-size: 1.2em ;
  margin:  0 20px;
  padding: 2px 20px ;
  transition: .1s ease-in-out;
  text-align: center;
  /*-webkit-text-stroke: 1px black;*/
}
#retry{
  background-color: rgb(227, 81, 81) ;
  background: linear-gradient(rgb(255, 124, 85), rgb(219, 71, 71));
}
#fine{
  background-color: rgb(157, 233, 113) ;
  background: linear-gradient(rgb(221, 232, 113), rgb(99, 193, 69));
}
