body,html{
  position: relative;
  margin: 0;
  /*height: 100%;*/
  font-family: Microsoft JhengHei;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select:none;
  user-select:none;
  -o-user-select:none;
  cursor: default;
}
.searchCombo{
  cursor: pointer;
}
.search{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 10px
}
.search input{
  height: 30px;
  width: 250px;
  padding: 10px;
  border: 0;
  border-radius: 5px;
}
button,.button,.selected_cat{
  background-color: rgb(227, 158, 73) ;
  background: linear-gradient(rgb(245, 216, 76), rgb(199, 133, 39));
  border: 2px solid black ;
  border-radius: 10px ;
  cursor: pointer;
  color: white ;
  font-weight: bolder;
  font-family: Microsoft JhengHei;
  font-size: 1.2em ;
  margin: 1%;
  padding: 2px 20px ;
  transition: .1s ease-in-out;
  text-align: center;
  -webkit-text-stroke: 1px black;
}
button:active{
  background: linear-gradient(rgb(242, 205, 24), rgb(204, 124, 10));
  font-size: 1.5em;
}
.button,.selected_cat{
  display: inline-flex;
  -webkit-text-stroke: 0.25px black;
}
.button[value~='0']{background: linear-gradient(rgb(195, 195, 195), rgb(106, 106, 106));}
.button[value~='1']{background: linear-gradient(rgb(242, 205, 24), rgb(204, 124, 10));}
.select_rarity td,
.select_color td,
.select_ability td,
.level td{width: 90%;}
select{
  background-color: rgb(236, 195, 72);
  background: linear-gradient(rgb(245, 216, 76), rgb(199, 133, 39));
  border: none;
  border-radius: 5px ;
  border: 2px solid black ;
  color: white ;
  cursor: pointer;
  font-family: Microsoft JhengHei;
  font-weight: bold;
  padding-left: 40px;
  padding: 5px 0 ;
  transition: .2s ease-in-out ;
  width: 200px ;
}
select:disabled,button:disabled{
  background-color: rgb(236, 195, 72);
  background: linear-gradient(rgb(231, 222, 190), rgb(164, 143, 110));
  color: gray ;
}
option{
  -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}
.option{color: black;}
.state{width: 100px;padding-left: 20px}
.head{
  background-image: url('https://lh3.googleusercontent.com/Oa9xD1RgEHQ6uugm0HRD3m1Rz5P2XPT9ENz_gLhR_Oy6-r4VaRZqB1VlZtbnptOdfT4=h900');
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode:  multiply;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100%;
}
.page_1,.page_2{
  background-color: white ;
  position: relative;
  z-index: 2;
  overflow-x: hidden;
}
.page_1,.page_2{background-image: url("footage/search_BG.png");}
.display,.select{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5% 10% ;
  width: 100%
}
td, th {
  border-collapse: collapse;
  margin: 2px 0 ;
  padding: 8px;
  text-align: center;
  transition: .3s ease-in-out
}
.select th{
  cursor: pointer;
  width: 10%;
}
.dataTable th{width: 150px}
.dataTable input{width: 75px}
#lv_minus,#lv_plus{
  align-items: center;
  border-radius: 50% ;
  background-color: rgb(106, 210, 249);
  color: white ;
  cursor: pointer;
  display: inline-flex;
  font-weight: bold;
  font-size: 12px ;
  height: 18px;
  justify-content: center;
  margin: 0 5px ;
  transition: .3s ease-in-out;
  width: 18px;
}
#lv_minus:hover,#lv_plus:hover{
  background-color: rgb(106, 236, 249);
}
#pre_sel_pg,#next_sel_pg{
  margin: 0 20px;
}
.button_group{
  display:none;
  width:100%;
  justify-content: center
}
.dataTable th,.select th{
  background-color: rgba(242, 213, 167, 0.93);
}
.dataTable td,.select td{
    background-color: rgba(255, 255, 255, 0.9);
}
.card{
  align-items: center;
  background-blend-mode: multiply;
  background-color: rgba(0,0,0,0.5);
  background-repeat: no-repeat;
  background-size: cover;
  border: 4px solid white ;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: bolder;
  text-align: center;
  height: 120px;
  width: 180px;
  justify-content: center;
  margin: 10px ;
  transition: .3s ease-in-out;
}
#selected{
  margin: 2% 0 ;
  width: 105%;
  height: 347.88px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}
.card-group{margin: 0 8px}
table {
  width: 100%;
  border-spacing: 3px;
  border-collapse: separate;
}
.ui-widget.ui-widget-content{border: none}
.ui-slider-horizontal{
  width: 100% ;
  background-color: rgb(228, 162, 48) ;
  height: .6em ;
}
.ui-widget-content .ui-state-default{
  border:none;
  border-radius: 50%;
  background-color: rgba(236, 88, 61,.9) ;
  transition: .2s ease-in-out ;
}
.ui-widget-content .ui-state-default:hover{
  width: 25px ;
  height: 25px ;
  background-color: rgba(236, 88, 61, 1) ;
}
.ui-slider-range{background-color: rgb(241, 119, 119)}
.glyphicon-refresh{
  top: 140px;
  position: relative;
  right: -167px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  padding: 4px;
  border-radius: 50%;
  background: linear-gradient(rgb(245, 223, 76), rgb(221, 165, 0));
  border: 3px solid;
}
.tbody_togger th{width: 100%;}
.compareSorce{
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: center;
  flex:6 ;
}
.compareTarget{
  width: 15%;
  background-color: rgba(255, 255, 255, 0.64) ;
  flex:1 ;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.compareTarget .card{
  margin: 10px 0;
  height: 80px;
  width: 120px;
}
.compareTable{display: flex;}
.compareTable table{flex:1}
.best{
  color:rgb(247, 175, 67);
  font-weight: bolder;
}
.filter_option{
  width: 100px
}
.filter_option[active~='false']{
  background-color: rgba(129, 115, 92,.93);
  color: lightgray
}
#slider_holder{
  height: 30px;
  display: none;
  transition: .3s ease-in-out
}
.active,.reverse{
  cursor: pointer;
}
#TOOLTIP{
  position: fixed;
  display: flex;
  background-color: rgba(60, 44, 6, 0.9);
  padding: 5px;
  /*border-radius: 6px;*/
  justify-content: center;
  z-index: 99 ;
  color: white
}
#TOOLTIP::after{
  position: relative;
  top: 25px;
  right: 50px;
  content: " " ;
  height: 20px;
  width: 20px;
  border: 10px solid rgba(60, 44, 6, 0.9);
  border-left-color:transparent;
  border-right-color:transparent;
  border-bottom-color:transparent;

}
/*.best::after{
  font-family: Glyphicons Halflings;
    content: " \e125";
    position: absolute;
    margin: -7px -46px;
    font-size: 25px;
    transform: rotate(-15deg);
    border: 5px solid;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}*/
.glyphicon-minus,
.glyphicon-plus,
#display_id{cursor: pointer;}
#helpModal .modal-header{
  height: 40% ;
  overflow-y: scroll;
}
