body{
  --Black_trans : rgba(0,0,0,.7);
  --Black_solid : #000000;
  --gray : #252525;
  --blue_green : #037070;
  --blue_green_light : #26a889;
  margin: 0;
  background-color: var(--blue_green);
  background: linear-gradient(var(--blue_green_light),var(--blue_green));
  font-family: 'Noto Sans TC', sans-serif;
  /* font-family: 'Noto Serif TC', serif; */
  /* font-family: 'Quicksand', sans-serif; */
}
.full-width,body{width : 100%}
.full-height,body{height:100%}

img{width: 100%}
h1,h2{cursor: default;}
.content{
  width: calc(100% - 40px);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
