<html>
  <head>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="css/index.css" />
    <script>
      var socket = io();
    </script>
  </head>
  <body>
    <h1>My Header</h1>
    <p>My paragraph.</p>
    <p>My paragraph.</p>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- <script src="../js/index.js"></script> -->

  </body>
</html>
